body {
    margin: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    border: 1px solid red;
    gap: 10px;
}

nav {
    background-color: rgb(131, 197, 219);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: flex-start;
}

nav h1 {
    align-self: flex-start;
    width: 70%;
    margin-top: 10vh;
    border-bottom: 1px solid grey;
    margin-left: 10%;
}

main {
    background-color: rgb(168, 207, 168);
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
}